.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-auth);
  font-family: "Segoe UI", sans-serif;
  transition: 0.3s ease;
}

.login-card {
  width: 350px;
  padding: 35px;
  border-radius: 18px;
  background: var(--card-auth);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: var(--text-auth);
  transition: 0.3s ease;
}

/* Titles */
.app-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-title {
  margin-bottom: 20px;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--input-bg);
  color: var(--text-auth);
}

/* Role Selection */
.role-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.role-card {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  background: var(--input-bg);
}

.role-card:hover {
  transform: translateY(-3px);
}

.active-citizen {
  background: #0072ff;
  color: white;
}

.active-admin {
  background: #ff4d4d;
  color: white;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: #0072ff;
  color: white;
  transition: 0.3s;
}

.admin-btn {
  background: #ff4d4d;
}

.login-btn:hover {
  opacity: 0.9;
}

.register-text {
  margin-top: 15px;
}

.register-text a {
  color: #0072ff;
  text-decoration: none;
}
