/* Background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Segoe UI", sans-serif;
}

/* Card */
.login-card {
  width: 350px;
  padding: 35px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
}

/* Titles */
.app-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-title {
  margin-bottom: 20px;
  font-weight: 400;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
}

.login-form input::placeholder {
  color: #ddd;
}

/* Role Selection */
.role-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.role-card {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
}

.role-card:hover {
  transform: translateY(-3px);
}

/* Active Citizen */
.active-citizen {
  background: rgba(0, 198, 255, 0.3);
  box-shadow: 0 0 12px rgba(0, 198, 255, 0.6);
}

/* Admin Card */
.admin-role {
  background: rgba(255, 80, 80, 0.15);
}

/* Active Admin */
.active-admin {
  background: rgba(255, 80, 80, 0.4);
  box-shadow: 0 0 12px rgba(255, 80, 80, 0.6);
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
}

/* Admin Button Style */
.admin-btn {
  background: linear-gradient(90deg, #ff512f, #dd2476);
}

/* Register */
.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: #00c6ff;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
